*{
    font-family: 'Lucida Grande', sans-serif;
}
.borderclass{
    border: 2px double rgb(16, 3, 44);
}
.white_line{
    background-color: white;
    height: 2px;
    width: 100%;
    margin: 10px 0;
}
body{
    background-color: rgb(6, 1, 17);
    margin: 20px 50px;
}
h1, h2{
    color: white;
    text-align: center;
}
h2{
    text-decoration: underline;
}
h3{
    color: lightgray;
    text-align: left;
    font-size: 27px;
}
h4{
    color: lightgray;
    text-align: left;
    font-size: 25px;
}
header{
    margin-bottom: 50px;
}
aside{
    float: left;
    width: 25%;
    height: 100%;
}
main{
    float: right;
    width: 60%;
    height: 100%;
    background-color: black;
}
main div{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: black;
    border: 2px double white;
    color: white;
    text-align: center;
    margin: 0 100px;
    width: 20%;
    height: 50px;
    font-size: 100%;
}
button:hover{
    border-color:rgb(248, 219, 57);
}
footer{
    position: fixed;
    bottom: 0;
    right: 0;
}
footer p{
    color: white;
    font-size: 15px;
    text-align: right;
    line-height: 0.2;
}
#logo{
    display: flex;
    justify-content: center;
    width: 100%;
}
#logo img{
    transition: transform 0.8s ease; 
}
#logo img:hover{
    transform: scale(1.35); 
}
#logo img{
    width: 30%;
}
#stats{
    width: 100%;
    background-color: black;
    margin-bottom: 30px;
    max-width: none;
    min-width: 270px;
}
#stats p{
    color: lightgray;
    text-align: left;
}
#gamepasses{
    display: grid;
    grid-template-columns: 1fr; 
    box-sizing: border-box;
    background-color: black;
    width: 100%;
    max-width: none;
    min-width: 270px;
}
#gamepasses section{
    display: flex;
    align-items: center;
    margin: 5px 0 10px 10px;
    width: 100%;
}
#gamepasses section img{
    height: 100px;
    width: 100px;
    transition: transform 0.3s ease;
}
#gamepasses section img:hover{
    transform: scale(1.05); 
}
#gamepasses section div{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
#gamepasses section div h4{
    text-align: left;
    width: 100%;
}
#KilBut{
    background-color: rgb(206, 206, 206);
    color: black;
}
#killers{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)); 
    box-sizing: border-box;
}
#survivors{
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)); 
    box-sizing: border-box;
}
#killers section, #survivors section{
    display: flex;
    margin: 10px 0 15px 15px;
}
#killers section img, #survivors section img{
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease;
}
#killers section img:hover, #survivors section img:hover{
    transform: scale(1.075); 
}
#killers section div, #survivors section div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-left: 20px;
}
#killers section div h3, #survivors section div h3{
    text-align: left;
    margin: 0;
    width: 100%;
}
#killers section div button, #survivors section div button{
    margin-left: auto;
    min-width: 100px;
}
